:root{
  --teal: teal;
  --sub-teal: rgb(188, 248, 228);
  --color: #fff;
  --hover: #09FFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Montserrat', sans-serif;
box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0;
  
}

img{
  width: 210px;
  height: 295px;
  object-fit: cover;
}

/*Navbar style*/

.navbar{
  background-color:var(--teal)

}

.nav__links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.8rem;
}

.links__brand > a {
  display: inline-block;
  text-decoration: none;
  color: var(--color);
}

.links__brand > a:hover{
  color: var(--hover);
}



ul{
  list-style: none;
 border: 0px solid red;
 display: flex; 
 
}

.links__link > a{
  text-decoration: none;
  display: inline-block;
  margin: 0 0.6rem;
  color: var(--color);
  font-size: 1.3rem;

}

.links__link > a:hover{
  color: var(--hover);
}

/*Home style*/

.searchbar{
  margin: 3rem 3rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

  
}

.search__input{
  width: 100%;
  padding: 0.8rem 1rem;
  outline: 0ch;
  border: 1px solid var(--teal);
  border-radius: 5px;
  margin: 1rem;
  font-size: 18px;
  font-weight: lighter;
}

.search__input:focus{
  border: 1px solid var(--hover);
}

.cta{
  width: 100%;
  margin: 1rem;
  padding: 0.8rem 1rem;
  background-color: var(--teal);
  color: var(--color);
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

/*Movie list style*/

.movie{
  border: 0px solid red;
  margin: 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding: 15px 10px; */
  
  
}


.movie__list{
  display: flex;
  border: 0px solid red;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.detail{
  padding: 0.6rem 0;
  text-align: center;
  color: var(--teal);
}

.movie > a{
  text-decoration: none;
  font-weight: bold;
}

/*Movies__info*/

.movieInfo{
  display: flex;
  /* align-items: center; */
  margin: 3rem auto;
  width: 50%;
  border: 0px solid red;
}

.movieInfo__detail{
  margin-left: 0.5rem;
}

.detail__list{
  list-style: none;
}

p{
  margin: 0.5rem;
}